<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <style type="text/tailwindcss">
          @theme {
            --font-roboto: "Roboto", sans-serif;
          }

          .table-col {
            @apply w-1/8 flex justify-center items-center;
          }
          .btn-style {
            @apply bg-blue-600 hover:bg-blue-700 active:bg-blue-500 rounded cursor-pointer;
          }
        </style>
</head>
<body class="w-full p-4 text-white font-roboto bg-gray-900">

    <header>
        <nav class="w-full">
            <div class="w-full p-4 bg-gray-800 rounded-lg">
                <ul class="flex flex-row gap-4 items-center">
                    <li class="flex items-center text-white font-bold">{% block PageName %}{% endblock %}</li>
                    <li><a href="{% url 'stats:index' %}" class="text-gray-300 hover:text-white transition">Головна</a></li>
                    <li><a href="{% url 'stats:about' %}" class="text-gray-300 hover:text-white transition">Про нас</a></li>
                </ul>
            </div>
        </nav>
    </header>

   {% block content%}
    {% endblock %}

</body>
</html>