BEGIN;
--
-- Create model DeliveryType
--
CREATE TABLE "CustomerStats_deliverytype" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "delivery_type" varchar(100) NOT NULL);
--
-- Alter field delivery_type on client
--
CREATE TABLE "new__CustomerStats_client" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL, "delivery_type_id" bigint NULL REFERENCES "CustomerStats_deliverytype" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO "new__CustomerStats_client" ("id", "name", "delivery_type_id") SELECT "id", "name", "delivery_type" FROM "CustomerStats_client";
DROP TABLE "CustomerStats_client";
ALTER TABLE "new__CustomerStats_client" RENAME TO "CustomerStats_client";
CREATE INDEX "CustomerStats_client_delivery_type_id_647a6142" ON "CustomerStats_client" ("delivery_type_id");
--
-- Alter field delivery_type on order
--
CREATE TABLE "new__CustomerStats_order" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "time" datetime NOT NULL, "name" varchar(255) NOT NULL, "volume_mm3" real NOT NULL, "price_usd" real NOT NULL, "client_id" bigint NOT NULL REFERENCES "CustomerStats_client" ("id") DEFERRABLE INITIALLY DEFERRED, "delivery_type_id" bigint NULL REFERENCES "CustomerStats_deliverytype" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO "new__CustomerStats_order" ("id", "time", "name", "volume_mm3", "price_usd", "client_id", "delivery_type_id") SELECT "id", "time", "name", "volume_mm3", "price_usd", "client_id", "delivery_type" FROM "CustomerStats_order";
DROP TABLE "CustomerStats_order";
ALTER TABLE "new__CustomerStats_order" RENAME TO "CustomerStats_order";
CREATE INDEX "CustomerStats_order_client_id_c56c72fa" ON "CustomerStats_order" ("client_id");
CREATE INDEX "CustomerStats_order_delivery_type_id_ec59e222" ON "CustomerStats_order" ("delivery_type_id");
--
-- Raw Python operation
--
-- THIS OPERATION CANNOT BE WRITTEN AS SQL
COMMIT;
