<div>
    <div class="w-full mt-4 flex justify-between items-stretch gap-x-4">
        <div class="w-1/2 p-4 bg-gray-800 rounded-lg ">
            <h2 class="text-2xl font-bold">{{ greeting }} {{ user.client }}!</h2>
            <h3 class="text-md font-normal">Ваш username:{{ user }} </h3>
            <h3 class="text-xl font-normal">Тут можна дізнатися про стан ваших замовлень сьогодні. </h3>
            <div class="mt-2 flex gap-x-4">
                <!-- треба налаштувати правильні лінки -->
                <a class="btn-style" href="{% url 'stats:index' %}">Назад</a>
                <button class="btn-style" onclick="toggleVisibility()">Фільтри</button>
                {% if has_filters %}<a href="{% url 'stats:stats' client_id=client.id %}" class="px-4 py-2 bg-red-600 hover:bg-red-700 active:bg-red-500 rounded cursor-pointer">Скинути фільтри</a>
                {% endif %}
            </div>
        </div>
        <ul class="w-1/2 p-4 bg-gray-800 rounded-lg">
            <li>Кількість замовлених об’єктів: <strong>{{ total_orders }}</strong></li>
            <li>Загальний об’єм усіх замовлень: <strong>{{ total_volume }}</strong></li>
            <li>Курс USD → UAH: <strong>{{ usd_to_uah|floatformat:2 }}</strong></li>
            <li>Загальна ціна USD: <strong>{{ total_usd }} $</strong></li>
            <li>Загальна ціна UAH: <strong>{{ total_uah }} ₴</strong></li>
        </ul>
    </div>
</div>