<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <title>Стан замовлень {{ client_name }}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap" rel="stylesheet">

        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

        <style type="text/tailwindcss">
          @theme {
            --font-roboto: "Roboto", sans-serif;
          }

          .table-col {
            @apply w-1/8 flex justify-center items-center;
          }
          .btn-style {
            @apply bg-blue-600 hover:bg-blue-700 active:bg-blue-500 rounded cursor-pointer;
          }
        </style>
    </head>
    <body class="w-full h-screen p-4 text-white font-roboto bg-gray-900 relative">
        <header>
            <nav class="w-full">
                <ul >
                    <li><a href="{% url 'index' %}">Головна</a></li>
                    {% verbatim about %}
                        <li><a href="{% url 'about' %}">Про нас</a></li>
                    {% endverbatim about %}
                </ul>
            </nav>
        </header>
        <div id="formBlock" class="hidden">
            <div class="absolute top-0 left-0 w-full h-full z-9 bg-black opacity-30" onclick="toggleVisibility()"></div>
            <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10 bg-gray-800 px-5 pb-5 pt-2 rounded-lg flex flex-col">
                <button onclick="toggleVisibility()" class="p-2 -mr-3 cursor-pointer self-end">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3" viewBox="0 0 14 14" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <line x1="1" y1="1" x2="13" y2="13" />
                        <line x1="13" y1="1" x2="1" y2="13" />
                    </svg>
                </button>
                <p>Фільтр за датою:</p>
                <form method="get" class="mt-1 flex gap-2 items-center" onsubmit="return validateFilterForm(this)">
                    {{ form.start_date }}
                    {{ form.end_date }}
                    <button type="submit" class="px-4 py-2 btn-style">Фільтрувати</button>
                </form>
                <p class="mt-2">Фільтр за назвою відео:</p>
                <form method="get" class="mt-1 flex gap-2 items-center" onsubmit="return validateFilterForm(this)">
                    <input type="text" name="q" class="px-3 py-2 rounded bg-gray-800 text-white border border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Пошук за назвою" value="{{ query }}">
                    <button type="submit" class="px-4 py-2 btn-style">Пошук</button>
                </form>
                <p class="mt-2">Фільтр за об'ємом:</p>
                <form method="get" class="mt-1 flex gap-2 items-center" onsubmit="return validateFilterForm(this)">
                    {{ form.min_volume }}
                    {{ form.max_volume }}
                    <button type="submit" class="px-4 py-2 btn-style">Фільтрувати</button>
                </form>
                <p class="mt-2">Фільтр за ціною:</p>
                <form method="get" class="mt-1 flex gap-2 items-center" onsubmit="return validateFilterForm(this)">
                    {{ form.min_price }}
                    {{ form.max_price }}
                    <button type="submit" class="px-4 py-2 btn-style">Фільтрувати</button>
                </form>
            </div>
        </div>
        <div class="w-full flex justify-between items-stretch gap-x-4">
            <div class="w-1/2 p-4 bg-gray-800 rounded-lg ">
                <h1 class="text-2xl font-bold">Hello, {{ client_name }}!</h1>
                <h2 class="text-xl font-normal">Тут можна дізнатися про стан ваших замовлень сьогодні. </h2>
                <div class="mt-2 flex gap-x-4">
                    <a class="px-4 py-2 btn-style" href="{% url 'index' %}">Назад</a>
                    <button class="px-4 py-2 btn-style" onclick="toggleVisibility()">Фільтри</button>
                    {% if has_filters %}
                    <a href="{% url 'stats' client_id=client.id %}" class="px-4 py-2 bg-red-600 hover:bg-red-700 active:bg-red-500 rounded cursor-pointer">Скинути фільтри</a>
                    {% endif %}
                </div>
            </div>
            <ul class="w-1/2 p-4 bg-gray-800 rounded-lg">
                <li>Кількість замовлених об’єктів: <strong>{{ total_orders }}</strong></li>
                <li>Загальний об’єм усіх замовлень: <strong>{{ total_volume }}</strong></li>
                <li>Курс USD → UAH: <strong>{{ usd_to_uah|floatformat:2 }}</strong></li>
                <li>Загальна ціна USD: <strong>{{ total_usd }} $</strong></li>
                <li>Загальна ціна UAH: <strong>{{ total_uah }} ₴</strong></li>
            </ul>
        </div>

        <div class="w-full mt-4">
            <div class="w-full py-3 flex justify-between items-center bg-gray-600 rounded-t-lg uppercase font-bold text-lg">
                <div class="table-col">№</div>
                <div class="table-col">Data</div>
                <div class="table-col">Video</div>
                <div class="table-col">Filename</div>
                <div class="table-col">count</div>
                <div class="table-col">volume single</div>
                <div class="table-col">volume all</div>
                <div class="table-col">price usd</div>
                <div class="table-col">price uah</div>
                <div class="table-col">delete</div>
            </div>
            {% for order in orders %}
                <div class="w-full py-2 flex justify-between items-center bg-gray-800 border-b border-x border-gray-600 last:rounded-b-lg font-normal text-md">
                    <div class="table-col">{{forloop.counter}}</div>
                    <div class="table-col">{{order.time}}</div>
                    <div class="table-col">
                        <video class="w-1/2" autoplay>
                            <source class="video_source" src="{% static order.video_path %}">
                        </video>
                    </div>
                    <div class="table-col">{{order.video_path}}</div>
                    <div class="table-col">count</div>
                    <div class="table-col">order.count * order.volume_mm3</div>
                    <div class="table-col">{{order.volume_mm3}}</div>
                    <div class="table-col">{{order.price_usd}} $</div>
                    <div class="table-col">{{ order.price_uah|floatformat:2 }} ₴</div>
                    <div class="table-col">
                        <form method="post" action="{% url 'order-delete' order.id %}" onsubmit="return confirm('Видалити це замовлення?');">
                            {% csrf_token %}
                            <button type="submit" class="px-4 py-2 bg-red-600 hover:bg-red-700 active:bg-red-500 rounded text-xs cursor-pointer">
                                <svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3" viewBox="0 0 14 14" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <line x1="1" y1="1" x2="13" y2="13" />
                                    <line x1="13" y1="1" x2="1" y2="13" />
                                </svg>
                            </button>
                        </form>
                    </div>
                </div>
                {% empty %}
                <div class="w-full p-4 bg-gray-800 rounded-b-lg text-center">No orders.</div>
            {% endfor %}
        </div>
    <script src="{% static 'statsScript.js' %}" defer></script>
    </body>
</html>